@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        overflow-x: hidden;
    }
    h1 {
        @apply text-2xl font-header text-black uppercase font-black mb-3 mt-1;
        line-height: 3rem;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
    a {
        @apply text-black underline;
    }
    p {
        @apply text-justify
    }
    button {
        @apply 
            text-sm
            font-black
            rounded-3xl
            bg-white
            text-black
            px-2 py-2
            leading-5
            uppercase
            font-header
            transition-all ease-out duration-150
            hover:text-dark-blue;
    }
    .dark-shadow {
        box-shadow: 0px 0px 40px 6px #00ffa2;
    }
    .light-shadow {
        box-shadow: 0px 0px 40px 6px #00ffa2;
    }
}

.main-container {
    @apply container light-shadow dark:dark-shadow bg-dark-green max-w-xl min-h-screen;
}